<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Caliper Java Sensor and Metric Profile Example Web Application</display-name>
	<servlet>
		<servlet-name>ReadingSequenceServlet</servlet-name>
		<display-name>ReadingSequenceServlet</display-name>
		<description></description>
		<servlet-class>org.imsglobal.caliper.test.servlet.CaliperReadingSequenceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssessmentSequenceServlet</servlet-name>
		<display-name>AssessmentSequenceServlet</display-name>
		<description></description>
		<servlet-class>CaliperAssessmentSequenceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MediaSequenceServlet</servlet-name>
		<display-name>MediaSequenceServlet</display-name>
		<description></description>
		<servlet-class>org.imsglobal.caliper.test.servlet.CaliperMediaSequenceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadingSequenceServlet</servlet-name>
		<url-pattern>/generateReadingSequence</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssessmentSequenceServlet</servlet-name>
		<url-pattern>/generateAssessmentSequence</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MediaSequenceServlet</servlet-name>
		<url-pattern>/generateMediaSequence</url-pattern>
	</servlet-mapping>
</web-app>
